* {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 4em 5em;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    min-width: fit-content
}

.header-link-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.header-link-container > a {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header-content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
    gap: 5em;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.header-content > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-content > p {
    color: #e5e7eb;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
    max-width: 650px;
}

.header-content > button {
    max-width: 150px;
    background-color: rgb(57, 115, 170);
    border-radius: 0.5em;
    color: #e5e7eb;
    padding: 5px;
    font-size: 20px;
}

.header-content-container > img {
    align-self: center;
    min-width: 250px;
}

.review-section {
    display: flex;
    padding: 4em 5em;
    flex-direction: column;
    gap: 5em;
}

.review-section > h1 {
    margin: auto;
    font-size: 50px;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review > img {
    width: 150px;
    height: 240px;
}

.review > h2 {
    text-align: center;
}

.review > p {
    font-size: 18px;
    max-width: 150px;
    line-height: 1.5em;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7em;
}

.the-quote {
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    flex: 1;
    min-width: 400px;
}

.quote-author {
    font-weight: 700;
    align-self: flex-end;
    padding-right: 17%;
}

.sign-section {
    display: flex;
    background-color: #3882F6;
    border-radius: 15px;
    margin: 2% 15%;
    padding: 1.5% 3%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.call-content {
    display: flex;
    color: #e5e7eb;
}

.sign-section > button {
    font-weight: 1000;
    font-size: 22px;
    padding: 0.5em;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 15px;
    border: solid #e5e7eb 1px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: #e5e7eb;
    padding: 1em 0;
    font-size: 10px;
}