* {
    font-family: "Trirong", serif;
    box-sizing: border-box;
    border: solid red 0.1px;
}
.header-section {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 4em 15em;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    min-width: fit-content
}

.header-link-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.header-link-container > a {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header-content-container {
    display: flex;
    margin: 2em 0;
    justify-content: space-between;
    gap: 5em;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-p {
    color: #e5e7eb;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
    min-width: 450px;
}

.header-button {
    max-width: 150px;
    background-color: rgb(57, 115, 170);
    border-radius: 0.5em;
    color: #e5e7eb;
    padding: 5px;
    font-size: 20px;
}

.header-image {
    align-self: center;
    overflow: hidden;
}

.review-section {
    display: flex;
    padding: 4em 5em;
    flex-direction: column;
    gap: 5em;
}

.review-title {
    margin: auto;
    font-size: 50px;
}

.review-container {
    display: flex;
    justify-content: space-around;
}

.image-review {
    width: 150px;
    height: 240px;
}

.review-p {
    text-align: center;
    font-size: 20px;
    max-width: 150px;
    line-height: 1.5em;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    padding: 4em 30em;
    flex-direction: column;
}

.the-quote {
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    flex: 1;
    min-width: 400px;
}

.quote-author {
    align-self: flex-end;
    font-weight: 700;
    overflow: hidden;
}